<% layout("/layouts/boilerPlate.ejs") %>


<div class="row mt-3 mb-3">
    <div class="col-8 offset-2">
        <h3>Edit list</h3>
        <form method="POST" action="/listings/<%= list._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="Listing[title]" value="<%= list.title %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    please enter valid price
                </div>
                <div class="valid-feedback">
                    Title
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="Listing[description]" class="form-control" required><%= list.description %></textarea>
                <div class="invalid-feedback">
                    please enter short description
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Current Image</label>
                <br>
                <img src="<%= originalImageUrl %>" alt="img" height="200px" width="300px">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="Listing[image]" type="file" class="form-control">
                <div class="invalid-feedback">
                    please enter valid Image link
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="Listing[price]" value="<%= list.price %>" type="number" class="form-control" required >
                <div class="invalid-feedback">
                    please enter valid price
                </div>
            </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="Listing[country]" value="<%= list.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    please enter valid Country
                </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="Listing[location]" value="<%= list.country %>" class="form-control" type="text" required>
                <div class="invalid-feedback">
                    please enter valid price
                </div>
            </div>
            <br>

            <button class="btn btn-dark mt-2 edit-btn">Edit</button>
            <br>
        </form>
    </div>
</div>




